/expurgated-fortune-mod/cmake/Shlomif_Common.cmake
/expurgated-fortune-mod/fortune/fortune.6
/expurgated-fortune-mod/fortune/fortune_with_offensive.docbook5.xml
/expurgated-fortune-mod/fortune/fortune_with_offensive.template.man
/expurgated-fortune-mod/fortune/fortune_without_offensive.docbook5.xml
/expurgated-fortune-mod/fortune/fortune_without_offensive.template.man
/expurgated-fortune-mod/util/randstr.man
/expurgated-fortune-mod/util/strfile.man
